<!-- <div>Page: {{expenses.currentPage}} of {{expenses.numberOfPages}}</div>

<ul>
    <li *ngFor = "let e of expenses.entries">{{e.description}}</li>
</ul> -->
<!-- <div class="mat-elevation-z8">
<mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator> -->

  
<table *ngIf ="expenses" mat-table [dataSource]="expenses.entries" class="mat-elevation-z8" >
  
    <!-- Position Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="numberOfComments">
      <th mat-header-cell *matHeaderCellDef> Number Of Comments </th>
      <td mat-cell *matCellDef="let element"> {{element.numberOfComments}} </td>
    </ng-container> 
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [length] ="totalExpenses" [pageSize] =" pageSize" (page) ="onChangedPage($event)"></mat-paginator>
  
<div *ngIf="pageEvent">
  <div>Page size: {{pageEvent.pageSize}} 
  </div>
</div>

<div>
    <hr>
    <button id="goBack" (click)="goBack()">
      <mat-icon>home</mat-icon>
      <div><b>Back</b></div>
    </button>
</div>
  