<table mat-table [dataSource]="comments" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container> 
   
    <!-- Name Column -->
    <ng-container matColumnDef="text">
      <th mat-header-cell *matHeaderCellDef> Text </th>
      <td mat-cell *matCellDef="let element"> {{element.text}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="important">
      <th mat-header-cell *matHeaderCellDef> Important </th>
      <td mat-cell *matCellDef="let element"> {{element.important}} </td>
    </ng-container>
  
    <ng-container matColumnDef="expenseId">
      <th mat-header-cell *matHeaderCellDef> Expense id </th>
      <td mat-cell *matCellDef="let element"> {{element.expenseId}} </td>
    </ng-container> 

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length] ="totalComments" [pageSize] =" pageSize" (page) ="onChangedPage($event)"></mat-paginator>
  
<div *ngIf="pageEvent">
  <div>Page size: {{pageEvent.pageSize}}</div>
</div>

<div>
  <form class="filter-form">
    <mat-form-field class="filter-full-width">
       <input matInput placeholder="String For Filter" value=""  #filter>
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary" id="filter" (click)="filteredComment(filter.value)">
    <span><b>Submit</b></span>
  </button>
</div>

<table *ngIf="filteredComments" mat-table [dataSource]="filteredComments.entries" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container> 
 
  <!-- Name Column -->
  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef> Text </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="important">
    <th mat-header-cell *matHeaderCellDef> Important </th>
    <td mat-cell *matCellDef="let element"> {{element.important}} </td>
  </ng-container>

  <ng-container matColumnDef="expenseId">
    <th mat-header-cell *matHeaderCellDef> Expense id </th>
    <td mat-cell *matCellDef="let element"> {{element.expenseId}} </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div>
  <hr>
  <button id="goBack" (click)="goBack()">
    <mat-icon>home</mat-icon>
    <div><b>Back</b></div>
  </button>
</div>